{% extends 'usermgmt/main.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Dashboard</a></li>
        <li><a href="{% url 'group_list' %}">Groups</a></li>
        <li><a href="{% url 'group_view' name=group.name %}">{{ group.name }}</a></li>
        <li class="active">Update Access</li>
    </ol>
</div>

<div class="row">
    <h1 class="page-header">Update Access for {{ group.name }}</h1>
</div>

<form method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
        <a href="{% url 'group_view' name=group.name %}" class="btn btn-default">
            Cancel
        </a>
    {% endbuttons %}
</form>

{% endblock %}


