{% extends 'usermgmt/main.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Dashboard</a></li>
        <li class="active">Studies</li>
    </ol>
</div>

<div class="row">
    <h1 class="page-header">cBioPortal Cancer Studies</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th class="col-md-2">Identifier</th>
            <th class="col-md-6">Title</th>
            <th class="col-md-4">Groups</th>
        </tr>
    </thead>
    <tbody>
        {% for study in studies %}
        <tr>
            <td>
                <a href="{% url 'study_view' identifier=study.identifier %}">
                    {{ study.identifier }}
                </a>
            </td>
            <td>{{ study.name }}</td>
            <td>
                {{ study.groups|join:", " }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
